body {
	font-family: Monospace;
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	margin: 0px;
	color: black;
}

#container {
	position: fixed;
	width: 400px;
	height: 250px;
	padding: 50px;
}

.banner {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
}

.banner-title {
	font-size: 2em;
}

.banner-subtitle {
	font-size: 0.75em;
}

.title {

}

.information {
	font-size: 0.75em;
	text-align: justify;
}

.button {
	font-size: 0.75em;
}
